.top-header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding-left: 65.59px;
  padding-right: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 87.41px;
  height: 28px;
}

.logo-img {
  display: block;
  width: 20px;
  height: 20px;
  padding-top: 5px;
  padding-left: 15px;
  background-image: url("/images/clipboard.svg");
  background-repeat: no-repeat;
}

.logo-text {
  width: 62px;
  height: 28px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #9d76f0;
}

.nav {
  display: flex;
}

.nav > li {
  margin-left: 15px;
}

.nav > li > button {
  width: 100%;
  font-weight: 500;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  max-width: 149px;
  height: 40px;
  background-color: #fff;
  border: none;
  padding: 0 25px;
  color: #e7e7ed;
  font-size: 16px;
  line-height: 20px;
}

.nav > li > button.active,
.nav > li > button:hover {
  background: rgba(205, 182, 255, 0.21);
  border-radius: 8px;
  color: #9d76f0;
}

.btn-text {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
}

.btn-task {
  width: 100%;
  display: flex;
  align-content: center;
  max-width: 206px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #9d76f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 13px;
}

.btn-task-text {
  width: 100%;
  margin-left: 13px;

}

.container {
  width: 100%;
  max-width: 998px;
  margin: 0 auto;
}

.icon-plus {
  position: absolute; 
  margin-left: 19px;
}

button {
  cursor: pointer;
}
