body {
  margin: 0;
  font-family: Quicksand;
  background: #fff;
}

.icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}



.text {
  font-style: normal;
  color: #777a87;
  font-weight: 500;
}

.item {
  font-size: 16px;
  line-height: 20px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.subtitle {
  font-size: 25px;
  line-height: 31px;
}

.nb-tasks {
  font-size: 18px;
  line-height: 22px;
  color: #9d76f0;
}
